---
interface Victim {
  name: string;
  en_name: string;
}

const formatNumber = (number: number): string => {
  return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
};

const killedInGaza = await fetch(
  "https://data.techforpalestine.org/api/v2/killed-in-gaza.min.json"
);

const identifiedVictims: [Victim] = await killedInGaza.json();
const totalIdentifiedVictims: number = identifiedVictims.length;

const summary = await fetch(
  "https://data.techforpalestine.org/api/v3/summary.min.json"
);
const summaryData = await summary.json();
const totalVictims = summaryData.gaza.killed.total;
const unidentifiedVictims = totalVictims - totalIdentifiedVictims;

const url = "https://remembergaza.id";
const title = "Remember Gaza";
const description = `From ${formatNumber(totalVictims)} killed in Gaza since October 7, 2023, ${formatNumber(totalIdentifiedVictims)} victims are identified. Here are their names.`;
const image = "/android-chrome-512x512.png";

const lastRetrieved = new Date();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-8BYS0FYMTY"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-8BYS0FYMTY");
    </script>
  </head>
  <body>
    <center>
      <h1>Remember Gaza</h1>
      <>
        {
          `There are ${formatNumber(totalIdentifiedVictims)} identified victims killed in Gaza since October 7, 2023.`
        }
      </>
      <br />
      <>
        {
          `While the remaining ${formatNumber(unidentifiedVictims)} victims are still unidentified.`
        }
      </>
      <br /><br />
      <>
        {`Total souls killed in Gaza: ${formatNumber(totalVictims)}.`}
      </>
      <br /><br /><br /><br />
      {
        identifiedVictims.map((hero: Victim, index: number) => (
          <>
            {formatNumber(index + 1)}
            <br />
            {`${hero.name}`}
            <br />
            {`(${hero.en_name})`}
            <br />
            <br />
          </>
        ))
      }
      <br /><br />
      Source: <a href="https://data.techforpalestine.org/">Palestine Datasets</a
      >
      <br />
      Last retrieved: {lastRetrieved.toUTCString()}
      <br /><br /><br /><br />
    </center>
  </body>
</html>
